VITE_API_BASE_URL=http://localhost:5001/api
VITE_WEBSOCKET_URL=ws://localhost:5001
VITE_AI_SERVICE_URL=http://localhost:5001/ai
VITE_APP_TITLE=WorkSphere Enterprise Command Center
VITE_TELEMETRY_API_URL=http://localhost:4000
VITE_COMMAND_API_URL=http://localhost:5001
VITE_AUTH_API_URL=http://localhost:5001
VITE_HR_API_URL=http://localhost:5001
VITE_MAIN_AUTH_API_URL=http://localhost:5001
VITE_STRIPE_API_KEY_MOCK=tc_live_89f023a89d023b10c92e10ff5a8bc321
